

    <main>        
        <div class="login-box">
            <h1>Вход</h1>
            <form method="POST">
                <label>Емайл</label>
                <input type="text" name="email" placeholder="Емайл..">
                <label>Парола</label>
                <input type="password" name="password" placeholder="Парола..">
                <input type="submit" value="Продължи">
            </form>
            <p>Все още нямаш акаунт? <a href="/register">Регистритай се тук!</a></p>
        </div>
    </main>

