

    <main>
        <!-- In case of error, you should display div with class "errorContainer" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        <!-- <div>
            <div class="errorContainer">
                <p>Error</p>
            </div>
        </div> -->
        
        <div class="register-box">
            <h1>Регистрация</h1>
           
            <form method="POST">
                <label>Име на потребителя</label>
                <input type="text" name="username" placeholder="Потребителско име..">
                <label>Емайл</label>
                <input type="text" name="email" placeholder="Емайл..">
                <label>Парола</label>
                <input type="password" name="password" placeholder="Парола..">
                <label>Потвърди парола</label>
                <input type="password" name="repeatPassword" placeholder="Потвърди парола..">
                <input type="submit" value="Продължи">
            </form>
            <p>Вече имаш акаунт? <a href="/login">Влез оттук!</a></p>
        </div>
    </main>

   