

    <main>
        <section id="not-found-page">
            <div class="not-found-page-container">
                <h1>404</h1>
                <h2>Страницата не е намерена</h2>
                <p>Страницата която тъсите не е намерена или е възникнала грещка. Върни се обратно <a href="/"
                        class="btn">Начало</a>.
                </p>
            </div>
        </section>
    </main>

