


    <main>
        <div class="aboutUS"> <h1>Добре дошли в нашата семейна компания "НИКО АУТО ЕКСПОРТ", създадена през 2018 г. Ние сме специализирани в предлагането на широка гама от висококачествени домакински уреди, които да преобразят вашия дом. Всички уреди са внос от Гемания. С нашия стремеж за изключително обслужване и достъпни цени, ние сме посветени да Ви помогнем да намерите перфектните уреди, които отговарят на Вашите нужди и подобряват ежедневието Ви. </h1> 
        </div>
    </main>