   <main>
        <div class="contacts"> <h1><b>Как да ни намерите</b><p>НИКО АУТО ЕКСПОРТ ЕООД</p> <b>Физически магазин:</b><p>БЪЛГАРИЯ, гр. Пазарджик, ул. Стоян Бакърджиев № 3</p> <b> Национален телефон на потребителя:</b><p>0897852727</p> <b> E-mail:</b><p>nikpunchevpz@gmail.com
</p>
</h1> 

        </div>
    </main>