   <main>
        <div class="delivery"> <h1><b><u><i>Транспорт и доставка</i></u></b>
<p>Безплатна доставка за Пазарджик и близките села в радиус 20км.</p>
Възможност за доставка:  Спиди, Еконт или лично от нас (по договаряне).
<p>Цената на доставка от куриерските фирми е според техните условия.</p>
Нашата доставка е от 20 до 40 лв. на уред, в зависимост от разстоянието и броя на уредите.
<p><b>Плащане:</b></p>
чрез наложен платеж с пощенски паричен превод или банков превод.
{{!-- https://www.econt.com/services/courier-services
https://services.speedy.bg/priceList/  --}}
</p>
</h1> 

        </div>
    </main>