

    <main>
        <div class="content">
            <h1>УРЕДИ  <br>ЗА <span>ДОМА</span></h1>
            <p>„Съживете дома си с авангардни уреди<br>на ненадминати цени!“</p>
            <a href="/aboutUs" class="trade">За Нас</a>
        </div>

    </main>
