   <main>
        <div class="warranty"> <h1> <p><b>ГАРАНЦИОННО ОБСЛУЖВАНЕ</b></p>
Гаранционното обслужване представлява важна част от нашата услуга. Когато закупите нашите продукти или услуги, вие получавате <b><i>една година</i></b> гаранция, която включва безплатен ремонт или замяна на дефектни части и компоненти. Това означава, че ако се появи проблем със закупените от вас стоки през този период, ние ще се погрижим да го отстраним, без да ви предоставяме допълнителни разходи. В гаранционната карта, която Ви предоставяме при покупка на уред има пълно описание на това какво покрива. </a>
</p>
</h1> 

        </div>
    </main>