

    <main>
        <section class="appliance-search">
            <h1>Търсене</h1>

            <form class="search-form" method="GET">
                <input type="text" class="search-device" name="name" value="{{name}}" placeholder="Потърси тук...">
              {{>paymentMethod}}
                <button type="submit" class="btn-search">Търси</button>
            </form>

            {{#if appliance}}
            <div class="search-result">
                <div class="search-list">
                   {{#each appliance}}
                   {{>appliance}}
                   {{/each}}
                </div>

            </div>
            {{else}}
            <div class="no-match">
                <p>Няма намерени уреди!</p>
            </div>
            {{/if}}
        </section>
    </main>
